div.KaraOA{
  div.Schedule{
    background-color: #FFFFFF;
    >header{
      line-height: 30px;
      padding: 0 10px;
      background-color: #f2f2f2;
      border-bottom: 1px solid #d9d9d9;
      color: #838383;
      font-size: 14px;
      position: relative;
      >button{
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        border-left: 1px solid #d9d9d9;
        background-color: transparent;
        height: 100%;
        padding: 0 10px;
        color: #ff8d3a;
        cursor: pointer;
        outline: none;
      }
    }
    >section{
      padding: 15px 10px 0 10px;
      display: flex;
      >div.left{
        width: 196px;
        height: 241px;
        >h1{
          margin: 0;
          color: #232323;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          >i{
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 12px;
            cursor: pointer;
          }
        }
        >header{
          width: 100%;
          display: table;
          >b{
            display: table-cell;
            text-align: center;
            color: #cbcbcb;
            font-size: 12px;
            line-height: 20px;
          }
        }
        >div{
          text-align: center;
          font-size: 0;
          padding-bottom: 8px;
          >span{
            display: inline-block;
            margin: 0 4px;
            margin-top: 8px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #838383;
            position: relative;
            cursor: pointer;
            &.gray{
              color: #dedede;
            }
            &.cur{
              color: #FFFFFF;
              background-color: #ff9445;
              border-radius: 20px;
            }
            &.mark:after{
              content: "â—";
              position: absolute;
              left: 0;
              bottom: -8px;
              width: 20px;
              text-align: center;
              font-size: 12px;
              line-height: 8px;
              color: #838383;
            }
          }
        }
      }
      >div.right{
        width: 0;
        flex: 1 1 auto;
        >h1{
          margin: 0;
          color: #232323;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          >button{
            border: none;
            font-size: 12px;
            color: #ff9445;
            background-color: transparent;
            margin-left: 5px;
            outline: none;
            cursor: pointer;
          }
        }
        >section{
          height: 211px;
          position: relative;
          >ul{
            line-height: 22px;
            font-size: 13px;
            color: #333333;
            >li{
              display: flex;
              cursor: default;
              position: relative;
              >label{
                flex: 0 0 56px;
                color: #ff9445;
                text-align: center;
              }
              >p{
                width: 0;
                height: 44px;
                flex: 1 1 auto;
                overflow: hidden;
                word-break: break-all;
              }
              &:hover{
                >div.pop{
                  display: block;
                }
              }
              >div.pop{
                display: none;
                position: absolute;
                left: -5px;
                bottom: 0;
                width: 277px;
                padding: 5px;
                background-color: #FFFFFF;
                box-shadow: 0 0 10px #d9d9d9;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                >header{
                  display: flex;
                  align-items: center;
                  line-height: 20px;
                  >label{
                    flex: 0 0 56px;
                    color: #ff9445;
                    text-align: center;
                  }
                  >p{
                    width: 0;
                    flex: 1 1 auto;
                    word-break: break-all;
                  }
                }
                >footer{
                  padding-top: 5px;
                  padding-left: 56px;
                  white-space: nowrap;
                  >button{
                    border: none;
                    background-color: transparent;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 20px;
                    color: #FFFFFF;
                    margin-right: 10px;
                    cursor: pointer;
                    outline: none;
                    padding: 0 10px;
                    font-size: 12px;
                    &:nth-child(1){
                      background-color: #5f95fd;
                    }
                    &:nth-child(2){
                      color: #5f95fd;
                    }
                    &:nth-child(3){
                      color: #ff533f;
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
          >div.paging{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-weight: bold;
            >span{
              font-weight: normal;
              display: inline-block;
              font-size: 12px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              border-radius: 20px;
              background-color: #e9e9e9;
              margin: 0 10px;
              cursor: pointer;
              color: #5f95fd;
              user-select: none;
              &.disabled{
                color: #bababa;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
}
