div.KaraOA{
  div.Tool{
    background-color: #FFFFFF;
    >ol{
      margin: 0;
      padding: 0;
      height: 44px;
      line-height: 44px;
      display: flex;
      background-color: #f2f2f2;
      box-sizing: border-box;
      border-bottom: 1px solid #dcdcdc;
      user-select: none;
      >li{
        width: 0;
        height: 44px;
        flex: 1 1 auto;
        font-size: 14px;
        color: #838383;
        text-align: center;
        border-right: 1px solid #dcdcdc;
        &:last-child{
          border-right: none;
        }
        &.active{
          color: #2fc257;
          background-color: #FFFFFF;
        }
      }
    }
    >nav{
      height: 80px;
      margin: 0 4px;
      margin-top: 24px;
      display: flex;
      >a{
        width: 0;
        flex: 0 1 87px;
        margin: 0 5px;
        >b{
          position: relative;
          display: block;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          border-radius: 5px;
          background-color: #ffa969;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          &.add{
            background-color: transparent;
            background-size: cover;
            background-image: url(./add.png);
          }
          >i{
            position: absolute;
            right: -8px;
            top: -8px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #ff533f;
          }
        }
        >p{
          font-size: 14px;
          line-height: 30px;
          color: #333333;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    >footer{
      height: 40px;
      position: relative;
      >button{
        position: absolute;
        right: 25px;
        bottom: 0;
        z-index: 20;
        font-size: 14px;
        line-height: 40px;
        color: #5f95fd;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        padding: 0;
      }
    }
  }
}
