div.KaraOA{
  div.Tool{
    background-color: #FFFFFF;
    >ol{
      margin: 0;
      padding: 0;
      height: 44px;
      line-height: 44px;
      display: flex;
      background-color: #f2f2f2;
      box-sizing: border-box;
      border-bottom: 1px solid #dcdcdc;
      user-select: none;
      >li{
        height: 44px;
        flex: 1 1 auto;
        font-size: 14px;
        color: #838383;
        text-align: center;
        border-right: 1px solid #dcdcdc;
        &:last-child{
          border-right: none;
        }
        &.active{
          color: #2fc257;
          background-color: #FFFFFF;
        }
      }
    }
  }
}
