div.KaraOA{
  div.News{
    background-color: #FFFFFF;
    >header{
      line-height: 30px;
      padding: 0 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-size: 14px;
    }
    >section{
      box-sizing: border-box;
      padding: 20px;
      >header{
        cursor: pointer;
        height: 90px;
        display: flex;
        >b{
          width: 140px;
          margin-right: 10px;
          background-image: url(./header.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        >div{
          width: 0;
          flex: 1 1 auto;
          >h1{
            margin: 0;
            font-size: 18px;
            line-height: 39px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          >p{
            font-size: 14px;
            height: 50px;
            line-height: 25px;
            position: relative;
            >sub{
              position: absolute;
              right: 0;
              bottom: 0;
              line-height: 25px;
              font-size: 13px;
            }
          }
        }
      }
      >ul{
        margin-top: 18px;
        padding-top: 12px;
        border-top-width: 1px;
        border-top-style: solid;
        font-size: 16px;
        line-height: 32px;
        >li{
          cursor: pointer;
          position: relative;
          box-sizing: border-box;
          padding-right: 160px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:before{
            content: '■';
            margin-right: 15px;
            color: #fc6832;
            position: relative;
            top: -2px;
          }
          sub{
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 32px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
