div.KaraOA{
  div.Ad{
    background-color: #FFFFFF;
    position: relative;
    >ul{
      display: table;
      width: auto;
      height: 100%;
      transform: translate3d(0, 0, 0);
      &.anim{
        transition: transform 0.3s linear;
      }
      >li{
        display: table-cell;
        min-width: 483px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    >span{
      position: absolute;
      top: 50%;
      width: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: rgba(0,0,0,0.1);
      transform: translate(0, -50%);
      cursor: pointer;
      color: #FFFFFF;
      &.hide{
        display: none;
      }
      &.left{
        left: 0;
      }
      &.right{
        right: 0;
      }
    }
  }
}
