div.KaraOA{
  div.Ad{
    background-color: #FFFFFF;
    background-image: url(./ad.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
