div.KaraOAModal{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  >div{
    width: 860px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -430px;
    margin-top: -280px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
    >h1{
      margin: 0;
      font-size: 16px;
      color: #282828;
      line-height: 24px;
      position: relative;
      >i{
        position: absolute;
        right: 0;
        font-size: 24px;
        cursor: pointer;
      }
    }
    >form{
      width: 400px;
      height: 34px;
      background-color: #f3f3f3;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      &.focus{
        background-color: #FFFFFF;
        border: 1px solid #ffa969;
        >i{
          color: #ffa969;
        }
      }
      >i{
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #b0b0b0;
        &:last-child{
          cursor: pointer;
        }
      }
      >input{
        flex: 1 1 auto;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 14px;
        color: #282828;
      }
    }
    >section{
      width: 710px;
      height: 340px;
      margin: 34px auto;
      border: 1px solid #d9d9d9;
      box-sizing: content-box;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
      position: relative;
      >ol{
        margin: 0;
        padding: 0;
        height: 47px;
        line-height: 47px;
        display: flex;
        >li{
          width: 0;
          flex: 1 1 auto;
          background-color: #f2f2f2;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          cursor: pointer;
          &:last-child{
            border-right: none;
          }
          &.active{
            background-color: #FFFFFF;
            border-bottom: none;
          }
        }
      }
      >ul{
        margin: 40px;
        display: flex;
        flex-flow: wrap;
        >li{
          width: 0;
          flex: 0 1 126px;
          &.added{
            >b:before{
              position: absolute;
              right: 0;
              top: 0;
              font-size: 12px;
              color: #ffffff;
              background-color: #b2b2b2;
              border-radius: 18px;
              line-height: 18px;
              padding: 0 8px;
              content: '已添加';
              white-space: nowrap;
              transform: translate(80%, -45%);
            }
          }
          >b{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 0 auto;
            background-color: #ffa969;
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            cursor: pointer;
          }
          >p{
            line-height: 33px;
            font-size: 14px;
            color: #333333;
            margin-bottom: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    >ul{
      margin: 40px 10px;
      >li{
        padding: 30px 20px;
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        margin-bottom: 2px;
        >figure{
          width: 110px;
          margin: 0;
          padding: 0;
          text-align: center;
          margin-right: 20px;
          font-size: 0;
          >img{
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
          }
          >p{
            font-size: 14px;
            color: #696969;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        >div{
          flex: 1 1 auto;
          >h1{
            margin: 0;
            font-size: 16px;
            color: #696969;
            line-height: 33px;
          }
          >h2{
            margin: 0;
            font-size: 14px;
            color: #888888;
            line-height: 24px;
          }
          >p{
            font-size: 14px;
            color: #b2b2b2;
            line-height: 24px;
          }
        }
        &.added{
          >button{
            background-color: #b2b2b2;
          }
        }
        >button{
          width: 80px;
          height: 30px;
          background-color: #ffa969;
          color: #FFFFFF;
          font-size: 14px;
          border: none;
          outline: none;
          border-radius: 30px;
        }
      }
    }
  }
}
