div.KaraOA{
  div.Todo{
    background-color: #FFFFFF;
    position: relative;
    >ol{
      margin: 0;
      padding: 0;
      display: flex;
      line-height: 29px;
      cursor: pointer;
      >li{
        padding: 0 10px;
        color: #838383;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        &:last-child{
          border-right: none;
        }
        &.empty{
          flex: 1 1 auto;
          cursor: default;
        }
        &.active{
          border-bottom: none;
          background-color: #FFFFFF;
        }
        &.orange{
          color: #ff8d3a;
        }
        >span{
          &.red{
            color: #ff7e38;
          }
          &.blue{
            color: #055dca;
          }
          &.green{
            color: #2aca05;
          }
        }
      }
    }
    >section{
      height: 168px;
      overflow: hidden;
      position: relative;
      >p.nothing{
        margin-top: 40px;
        font-size: 14px;
        text-align: center;
        line-height: 89px;
        >b{
          display: inline-block;
          vertical-align: middle;
          width: 98px;
          height: 89px;
          background-image: url(./nothing.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      >ul.todoList{
        margin: 9px 0;
        line-height: 30px;
        white-space: nowrap;
        >li{
          padding: 0 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          >label{
            flex: 0 0 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 20px;
            cursor: pointer;
          }
          >p{
            width: 0;
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      >ul.trackList{
        margin: 9px 0;
        line-height: 30px;
        white-space: nowrap;
        >li{
          padding: 0 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          >label{
            flex: 0 0 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 20px;
            cursor: pointer;
          }
          >p{
            width: 0;
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          >span{
            display: none;
            flex: 0 0 75px;
            text-align: center;
          }
          >button{
            display: none;
            outline: none;
            cursor: pointer;
            flex: 0 0 50px;
            color: #FFFFFF;
            border: none;
            height: 20px;
            border-radius: 20px;
          }
          &:hover{
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            box-shadow: 0 0 10px #e3e3e3;
            >span{
              display: block;
            }
            >button{
              display: block;
            }
          }
        }
      }
      >table{
        margin: 9px 0;
        width: 100%;
        border-spacing: 0;
        >tbody>tr>td{
          padding: 15px 20px;
          line-height: 20px;
        }
      }
      &:hover{
        >span{
          display: block;
        }
      }
      >span{
        display: none;
        position: absolute;
        top: 50%;
        width: 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgba(0,0,0,0.1);
        transform: translate(0, -50%);
        cursor: pointer;
        color: #FFFFFF;
        user-select: none;
        &.left{
          left: 0;
        }
        &.right{
          right: 0;
        }
      }
    }
    >div.approve{
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      background-color: #FFFFFF;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      box-shadow: 0 0 10px #e3e3e3;
      >header{
        display: flex;
        line-height: 25px;
        >label{
          display: block;
          width: 130px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 20px;
        }
        >p{
          width: 0;
          max-height: 50px;
          flex: 1 1 auto;
          word-break: break-all;
          overflow: hidden;
        }
      }
      >h2{
        margin: 0;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-weight: normal;
        >button{
          margin-right: 15px;
          border: none;
          height: 20px;
          border-radius: 20px;
          font-size: 12px;
          padding: 0 15px;
          color: #FFFFFF;
          outline: none;
          cursor: pointer;
        }
        >a{
          line-height: 20px;
          border-radius: 20px;
          font-size: 12px;
          padding: 0 15px;
          color: #FFFFFF;
        }
        >span{
          display: block;
          flex: 1 1 auto;
          text-align: right;
          font-size: 12px;
        }
      }
      >textarea{
        display: block;
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: 32px;
        outline: none;
        padding: 5px 10px;
        resize: none;
        border-radius: 5px;
        font-size: 13px;
        line-height: 20px;
      }
      >footer{
        margin: 0;
        padding: 5px 0;
        text-align: right;
        >button{
          border: none;
          padding: 0 15px;
          height: 20px;
          border-radius: 20px;
          color: #FFFFFF;
          outline: none;
          cursor: pointer;
        }
      }
    }
    >div.track{
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      height: 140px;
      background-color: #FFFFFF;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      box-shadow: 0 0 10px #e3e3e3;
      >header{
        padding: 0 10px;
        display: flex;
        align-items: center;
        line-height: 30px;
        white-space: nowrap;
        >label{
          flex: 0 0 130px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 20px;
        }
        >p{
          width: 0;
          flex: 1 1 auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        >span{
          flex: 0 0 75px;
          text-align: center;
        }
        >button{
          outline: none;
          flex: 0 0 50px;
          color: #FFFFFF;
          border: none;
          height: 20px;
          border-radius: 20px;
        }
      }
      div.trackScroll{
        height: 110px;
        overflow: hidden;
        ul{
          width: auto;
          height: 90px;
          margin-top: 20px;
          box-sizing: border-box;
          padding-left: 51px;
          white-space: nowrap;
          >li{
            display: inline-block;
            vertical-align: top;
            width: 127px;
            white-space: normal;
            border-top-width: 2px;
            border-top-style: solid;
            position: relative;
            font-size: 0.39rem;
            >i{
              position: absolute;
              left: -8px;
              top: -9px;
              width: 16px;
              height: 16px;
              border-radius: 16px;
              border-width: 2px;
              border-style: solid;
              cursor: pointer;
              &.iDefault{
                background-color: #FFFFFF;
              }
            }
            &.done{
              >i{
                border: none;
              }
            }
            &.wait{
              >i{
                border: none;
              }
            }
            &:last-child{
              width: 51px;
              border-top: 2px solid transparent;
            }
            >p{
              position: absolute;
              left: -35px;
              top: 20px;
              width: 70px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
